/* My custom styles */

body {
    background: #faf6b5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.mainheader {
    font-family: 'Sigmar One', cursive;
    font-size: 24px;
    color: #95250a;
    text-shadow: 2px 2px 5px #fce2dc
}

#searchBtn {
    color: white;
    background-color: #816b04;
}

.resultsheader {
    font-family: 'Sigmar One', cursive;
    font-size: 20px;
    color: #95250a;
    text-shadow: 2px 2px 5px #fce2dc
}

.card {
    background-color: #CB9E05;
    border-radius: 20px;
    padding: 3rem;
    display: flex;
    max-width: 800px;
}

.avatar {
    border: 5px solid #fff;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-info {
    margin-left: 2rem;
}


.user-info ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.card-title {
    margin-top: 0;
    color: #664F04;
    font-weight: bold;
    text-align: center;
}

.card-text {
    font-size: 14px;
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

#notfound h2 {
    font-family: 'Sigmar One', cursive;
    font-size: 20px;
    color: red;
}

#notfound-message {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}