/* My custom styles */

body {
    background: #faf6b5;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.mainheader {
    font-family: 'Sigmar One', cursive;
    font-size: 40px;
    color: #95250a;
    text-shadow: 2px 2px 5px #fce2dc
}

#searchBtn {
    color: white;
    background-color: #816b04;
}

.resultsheader {
    font-family: 'Sigmar One', cursive;
    font-size: 20px;
    color: #95250a;
    text-shadow: 2px 2px 5px #fce2dc
}

.card {
    background-color: #CB9E05;
    border-radius: 20px;
    margin: auto;
    padding: 3rem;
    display: flex;
    max-width: 800px;
}

.avatar {
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    height: 150px;
    width: 150px;
    margin: auto;
}

.user-info {
    margin-left: 2rem;
}

.github-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    margin: auto;
    padding: 2rem;
    max-width: 400px;
}

.github-info li {
    font-size: 0.9rem;
    margin-right: 0.5rem;
}

.ghinfo-labels {
    font-size: 16px;
    font-weight: bolder;
    color:maroon;
}

.card-title {
    margin-top: 0;
    color: maroon;
    font-family: 'Sigmar One', cursive;
    text-align: center;
}

.card-text {
    font-size: 14px;
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

#notfound h2 {
    font-family: 'Sigmar One', cursive;
    font-size: 20px;
    color: red;
}

#notfound-message {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.twitter {
    color: maroon;
    text-decoration: none;
}

.repo {
    background-color: maroon;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.active, .reposbtn:hover {
    background-color: white;
}

#reposlist {
    display: none;
    overflow: hidden;
}

/* .show-repo {
    display: border-box;
}

.hide-repo {
    display: none;
} */